{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/features.css' %}">
{% endblock %}

{% block main_style %}padding: 0; background: #F7F7F7; min-height: auto;{% endblock %}

{% block full_width_content %}
    {% include 'core/partials/features/hero.html' %}

    <div class="container" style="max-width: 1400px;">
        {% include 'core/partials/features/grid.html' %}
        
        {% include 'core/partials/features/carousel.html' %}
        
        {% include 'core/partials/features/faq.html' %}
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/pages/features.js' %}"></script>
{% endblock %}
