{% extends 'auth_base.html' %}
{% load static %}
{% load card_extras %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile_modal.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/dashboard_modules/utils.js' %}"></script>
<script src="{% static 'js/dashboard_modules/state.js' %}"></script>
<script src="{% static 'js/dashboard_modules/ui_core.js' %}?v=1.5"></script>
<script src="{% static 'js/dashboard_modules/actions.js' %}"></script>
<script src="{% static 'js/dashboard_modules/mobile_ui.js' %}"></script>
<script src="{% static 'js/dashboard_modules/wallet_modal.js' %}"></script>
<script src="{% static 'js/dashboard_modules/benefits.js' %}?v=1.5"></script>
{% endblock %}

{% block content %}
<!-- Hidden CSRF token for JavaScript -->
<form style="display: none;">
    {% csrf_token %}
</form>

{% include "dashboard/partials/_header.html" %}
{% include "dashboard/partials/_top_grid.html" %}
{% include "dashboard/partials/_filters.html" %}
{% include "dashboard/partials/_section_action.html" %}
{% include "dashboard/partials/_section_maxed.html" %}

<!-- Modals -->
{% include "dashboard/modals/_manage_wallet.html" %}
{% include "dashboard/modals/_benefit_usage.html" %}
{% include "dashboard/modals/_anniversary.html" %}
{% include "dashboard/modals/_edit_anniversary.html" %}
{% include "dashboard/modals/_remove_card.html" %}
{% include "dashboard/modals/_chase_524_info.html" %}

{% include "dashboard/partials/_ui_elements.html" %}

<script>
    // --- Manage Wallet Modal Logic ---
    const currentUserUid = "{{ request.session.uid }}";
    // allCardsData contains ALL cards (database), used for client-side filtering
    const allCardsData = {{ all_cards_json|safe }};
    // Initialize availableCards with allCardsData for legacy compatibility, will be filtered by JS
    let availableCards = allCardsData;
</script>
{% endblock %}